@import "~src/variables";

.wrapper{
  display: inline-block;
  padding: 10px;
  height: 40px;
  cursor: pointer;


  &.active{
    background-color: $background-light;
    border-radius: 30px 30px 0 0;
    box-shadow: $shadow;
    z-index: 0;
  }
}
