<div class="wrapper">
  <div class="employee-info">
    <h3>Специалист</h3>
    <img class="logo" [src]="data.employee.logo" alt="">
    <span class="full-name">{{data.employee.fullName}}</span>
    <a class="shops-count">{{data.workerShops.length | countPhrase:['магазин', 'магазина', 'магазинов']}}</a>
    <i class="remove-employee" (click)="onRemoveEmployee()"></i>
  </div>
  <div class="employee-shops">
    <h3>Магазины</h3>
    <div class="worker-shop" *ngFor="let workerShop of data.workerShops">
      <app-shop-list-item [data]="workerShop"></app-shop-list-item>
      <i class="shop-remove" (click)="onRemoveShop(workerShop)"></i>
    </div>
    <div class="worker-shop-empty" *ngIf="!data.workerShops.length">
      Не назначены <i class="warning"></i>
    </div>
  </div>
</div>
