@import "~src/variables";

h3{
  font-size: 13px;
  color: $color-low-light;
  margin-bottom: 10px;
}

.employee-info{

  margin: 15px 0;
  & .logo{
    @include logo(32px);
  }
  & .full-name{
    margin: 0 10px;
    font-size: 14px;
  }
  & .shops-count{
    margin: 0 10px;
    font-size: 14px;
    color: $color-info;
  }
  & .remove-employee{
    @include in-text-icon("~src/assets/icons/trash.svg");
    cursor: pointer;
    float: right;
  }
}

.employee-shops{

  & .warning{
    @include in-text-icon("~src/assets/icons/warning.svg")
  }

  & .shop-remove{
    background: url("~src/assets/icons/minus.svg") center no-repeat;
    width: 60px;
    height: 60px;
    float: right;
    cursor: pointer;
  }
  & app-shop-list-item{
    display: inline-block;
  }
}
