@import "~src/variables";

.wrapper{
  margin: 16px;

  display: grid;
  grid-template-areas:  "logo name"
                        "logo address";
  grid-auto-columns: 60px 1fr;

  color: $color-normal;


  &.disabled{

    color: $color-low-light;

    & .shop-logo{
      background-color: $background-hard-dark-disabled;
    }
  }
}

.shop-logo{
  grid-area: logo;
  @include logo(40px);
  background-color: $background-hard-dark;
  color: $color-hard-light;
}

.name{
  grid-area: name;
  font-weight: bold;
}

.address{
  grid-area: address;
}
