@import "~src/variables";

.wrapper{
  width: 1100px;
  margin: 100px auto;
  display: grid;
  grid-template-areas: "left-content right-header"
                        "left-content right-content";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr
}

.save-btn-wrapper{
  grid-area: right-header;

  & button{
    float: right;
    width: 220px;
    height: 48px;
    border: 1px solid $border-color-normal;
    border-radius: 4px;
    background-color: $background-normal;
    margin: 0 20px;
    font-size: 14px;
    cursor: pointer;

    & .save-changes{
      @include in-text-icon("~src/assets/icons/complete.svg");
      margin-left: 20px;
    }

    &.disabled{
      color: $color-low-light;
      border-color: $color-low-light;
      cursor: not-allowed;

      & .save-changes{
        opacity: .7;
      }
    }

  }
}

.employee-container{
  grid-area: left-content;

  & .employee-tab-logo{
    @include logo(40px);
  }

  & .tab-counter{
    @include logo(16px);
    background-color: $color-info;
    color: $color-hard-light;
    float: right;
    margin: -8px;
    font-size: 11px;
    line-height: 16px;
  }

  & .add-employee{
    background: url("~src/assets/icons/add_tab.svg");
    display: inline-block;
    @include logo(40px);
  }

  & .add-employee-text{
    line-height: 40px;
    vertical-align: middle;
    margin-left: 20px;
  }

  & .employee-tab-content.active{
    @include lightContainerWithShadow();

  }

  & .employee-tab-content.empty{
    @include darkContainer();
    text-align: center;
    @include container-top-middle-padding();

    & h3 {
      letter-spacing: 2px;
      margin-bottom: 18px;
    }

    & .empty-user{
      background: url("~src/assets/icons/user_add.svg") center no-repeat;
      width: 60px;
      height: 60px;
      display: block;
      margin: 30px auto;
    }
  }
}

.shops-container{
  grid-area: right-content;
  @include normalContainer();



  & .select-shop{
    background: url("~src/assets/icons/to_left.svg") center no-repeat;
    float: left;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &.disabled{
      opacity: .7;
      cursor: not-allowed;
    }
  }

  .warning{
   @include in-text-icon("~src/assets/icons/warning.svg");
  }
}
