<div class="wrapper">

  <div class="save-btn-wrapper">
    <button (click)="saveData()"
            [class.disabled]="!selectedEmployee"
    >Сохранить изменения <i class="save-changes"></i></button>
  </div>

  <div class="employee-container">
    <div class="tabs">
      <app-tabs-group>
        <app-tab *ngFor="let employee of employees"
                 (click) = selectEmployee(employee)
                 [active] = "employee.employee.id === selectedEmployee.employee.id">
          <i class="tab-counter" *ngIf="employee.workerShops.length">{{employee.workerShops.length}}</i>
          <img class="employee-tab-logo" [src]="employee.employee.logo" alt="">
        </app-tab>
        <app-tab (click) = addEmployee()>
          <i class="add-employee"> </i>
          <span *ngIf="!employees.length" class="add-employee-text">Добавить сотрудника</span>
        </app-tab>
      </app-tabs-group>
    </div>

    <div *ngIf="selectedEmployee" class="employee-tab-content active">
      <app-employee-worker-shops #tab_body
        [data]="selectedEmployee"
        (removeEmployee)="removeSelectedEmployee()"
        (removeShop)="unselectShopForEmployee($event)"
      ></app-employee-worker-shops>
    </div>

    <div *ngIf="!selectedEmployee" class="employee-tab-content empty">
      <h3>СПЕЦИАЛИСТ НЕ НАЗНАЧЕН</h3>
      <p>Чтобы начать работу с нераспределенными магазинами,
        вам необходимо добавить хотя бы одного специалиста</p>
      <i class="empty-user"></i>
    </div>
  </div>

  <div class="shops-container">
    <div class="shops-count">Нераспределенные магазины: {{shops.length}} <i class="warning"></i></div>
    <div class="shop" *ngFor="let shop of shops">
      <i class="select-shop" (click) = selectShopForEmployee(shop) [class.disabled]="!selectedEmployee"></i>
      <app-shop-list-item [data]="shop" [disabled]="!selectedEmployee"></app-shop-list-item>
    </div>
  </div>

</div>
