/* You can add global styles to this file, and also import other style files */
@import "variables.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

*{
  margin: 0;
  padding: 0;
}

body{
  background: $background-normal;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 13px;
  color: $color-normal;
}
