$background-light: #F9F9F9;
$background-normal: #F3F3F3;
$background-low-dark: #F1F1F1;
$background-hard-dark: #333333;
$background-hard-dark-disabled: #999999;

$color-hard-light: #FFFFFF;
$color-low-light: rgba(0, 0, 0, 0.32);
$color-normal: #424242;
$color-info: #007AFF;

$border-color-normal: rgba(0, 0, 0, 0.1);

$container-border: dashed 1px $border-color-normal;

$shadow: 5px 5px 5px 2px rgba(0,0,0,0.1);

@mixin container-margin-padding() {
  margin: 0 20px;
  padding: 30px;
  height: 600px;
  overflow-y: auto;
}

@mixin container-top-middle-padding(){
  padding-top: 250px;
  height: 380px;
}

@mixin logo($size) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size/2;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
}

@mixin in-text-icon($url){
  background: url($url) center no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
}

@mixin normalContainer() {
  border: $container-border;
  @include container-margin-padding();
}

@mixin darkContainer() {
  border: $container-border;
  @include container-margin-padding();
  background-color: $background-low-dark;
}

@mixin lightContainerWithShadow() {
  @include container-margin-padding();
  background-color: $background-light;
  border-radius: 0 6px 6px 6px;
  box-shadow: $shadow;
  z-index: 1;
  position: relative;
}
